<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= javascript_include_tag(:defaults) -%>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>GENErator</title>
  <%= stylesheet_link_tag('standard') -%>
  </head>
  <body>

  <div class="header">
    <div style="float: right;">
      <%= link_to("work", :action => :index ) -%> |  <%= link_to("files / filters", :action => :files ) -%> |   <%= link_to("status", :action => :status ) -%> |  <%= link_to("reset", { :action => :reset}, :confirm => "Reset (delete) all generated terminals?" ) -%> |   <%= link_to("nuke", {:action => :nuke}, :confirm => "Are you sure you want to delete everything?" ) -%>
    </div>
 
    <b>  -- <%= link_to 'GENErator', :action => :index -%> -- </b>
  <br style="clear: both;"/>
  <%= flash[:notice] -%>
</div>
        <%= yield -%>
  </body>
</html>
